# History files
.Rhistory
.Rapp.history

# Session Data files
#.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

#test files
*.txt

.RDatatmp*
.RData

#ignore results, plots, RDS, etc
sbv/*/plots
sbv/plots
sbv/*/output
sbv/*/*.RDS
sbv/*/*.RData
output/paper_plots
sbv/raw_output


#ignore config and pbs file - cp the example files. 
*.json
sbv/*/*.json
sbv/*/*.pbs
lambda.pbs

#output files
output/*.RDS
output/*.png
output/*.RData
output/*.tiff
data/*.RDS
data/*.csv

#utils
utils
oe_files
