# History files
.Rhistory
.Rapp.history

# Session Data files
#.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

#test files
*.txt

.RDatatmp*
.RData

#method analysis raw & RDS files results
sbv/method_*_analysis/output/raw
sbv/method_*_analysis/output/*.RDS
sbv/method_*_analysis/*.RDS
sbv/method_*_analysis/output/batch*
sbv/method_*_analysis/parameters.RData
sbv/method_*_analysis/plots/
sbv/method_*_analysis/output/final_output_data
sbv/plots

config_general.json
sbv/method_*_analysis/*.json
sbv/method_*_analysis/*.pbs
sbv/third_infections/*.json
sbv/third_infections/*.pbs
sbv/third_infections/*.RData
sbv/third_infections/output/
sbv/third_infections/*.RDS

#output files
output/paper_plots
output/*.RDS
output/*.png
output/*.RData
data/*.RDS
 
#utils
utils
oe_files
sbv/raw_output
